<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      *{
        font-family: "Courier New", Courier, monospace;
        background-color: aquamarine;
        text-align: center
        
      }
      .logindev {
        border-style: solid;
        width: 25%;
        padding: 10px;
        /*text-align: right;*/
        display: inline-block;
        vertical-align: top;
        margin: 10px;
      }  
    </style>
  </head>
  <body>
    <h1><%= message %></h1>
    <h1>Welcome <%= user.first_name %></h1>

  </body>